<h1>Yakusoku+</h1>
<p>サロン・クリニックなどの<br>
   予約予定を想定した管理アプリです。
</p>

<p>予約の管理から一覧・編集までを<br>
   一画面で直感的に操作できます。
</p>

<ul>
  <li><%= link_to "予約一覧", reservations_path %></li>
  <li><%= link_to "新規予約", new_reservation_path %></li>
</ul>
