<h1>予約一覧</h1>

<table>
  <tr>
    <th>日付</th>
    <th>開始</th>
    <th>終了</th>
  </tr>

  <% @reservations.each do |r| %>
    <tr>
      <td><%= r.date %></td>
      <td><%= r.start_time %></td>
      <td><%= r.end_time %></td>
    </tr>
  <% end %>   
</table>

<%= link_to "新規予約", new_reservation_path %>